<html>

<head>
  <meta charset="utf-8">
  <title>APP</title>
</head>

<body>
   
    <div class="menu">
      <a id="home"  routerLink="/">Pocetna</a>
      <span id="username" *ngIf="logedin"> {{ "/ " + currTitle + "  " + currUser.username}}</span> 
      <a id="logout" routerLink="/" (click)="navigateLogin()" *ngIf="logedin">Izloguj se</a>
      <a id="passChange" routerLink="/passchange" *ngIf="logedin">Promena lozinke</a>
    </div>
    
  <hr class="hrClass" >
  <div style="text-align: center;">
    <router-outlet></router-outlet>
  </div>
</body>




</html>