<html>
    <head></head>
    <body>
        <h1>Autor</h1>
        <div>
            <br>
            <br>
            <br>
            <input type="button" class="btn" value="POPUNJAVANJE ANKETA" (click)="showSurveys()">
            <br>
            <input type="button" class="btn" value="POPUNJAVANJE TESTOVA" (click)="showTests()" >
            <br>
            <input type="button" class="btn" value="MOJE ANKETE" (click)="mySurveys()" >
            <br>
            <input type="button" class="btn" value="MOJI TESTOVI" (click)="myTests()">
            <br>
            <input type="button" class="btn" value="KREIRAJ ANKETU" (click)="createSurvey()" >
            <br>
            <input type="button" class="btn" value="KREIRAJ TEST" (click)="createTest()">
        </div>
    </body>
</html>

